@import "./reset.css";

:root{
  --color-shadow: #f0f0f0;
  --text-color-active: #222;
  --text-color-auto: #676767;
  --text-color-unactive: #444;
  --text-color-gray: #555;
  --text-color-light:#666;
  --text-color-Hlight:rgb(136, 136, 136);
  --text-color-hover:rgb(44, 79, 196)
}

/* 博客侧边栏自定义样式 */
.cu-class{
  background-color: #e0232300 !important;
  margin-top: 90px;
  box-shadow: none !important;
  border-radius: 5px;
}

:focus {
  outline: none;
}

.title-btn .el-button--mini {
  padding: 5px 10px !important;
  font-weight: 400 !important;
}

.el-drawer__wrapper {
  top: 64px !important;
  left: 70% !important;
  
}

/* markDown 自定义样式 */
.markdown-body h1, 
.markdown-body h2, 
.markdown-body h3, 
.markdown-body h4,
.markdown-body h5, 
.markdown-body h6{
  color: var(--text-color-H) !important;
}

.markdown-body{
  font-size: 14px !important;
}


/* 选择音乐分类的弹窗自定义样式 */
.dialog-class{
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

/* 滚动条样式 */
*::-webkit-scrollbar{
  /*滚动条整体样式*/
  width : 3px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #5353530c;
  }
*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background   : #ededed10;
  }